<table class="table-bordered" id="edit_schedule">
    <tr>
        <th class="timeCol"></th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Satuaday</th>
    </tr>
    <tr id="weekday_1">
        <td class="timeCol">8:00 - 9:00</td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr id="weekday_2">
        <td class="timeCol">9:00 - 10:00</td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr id="weekday_3">
        <td class="timeCol">10:00 - 11:00</td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr id="weekday_4">
        <td class="timeCol">11:00 - 12:00</td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr id="weekday_5">
        <td class="timeCol">12:00 - 13:00</td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr id="weekday_6">
        <td class="timeCol">13:00 - 14:00</td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr id="weekday_7">
        <td class="timeCol">14:00 - 15:00</td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr id="weekday_8">
        <td class="timeCol">15:00 - 16:00</td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr id="weekday_9">
        <td class="timeCol">16:00 - 17:00</td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
    <tr id="weekday_10">
        <td class="timeCol">17:00 - 18:00</td>
        <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
    </tr>
</table>