{% extends '::base.html.twig' %}

{% block stylesheets %}
<style type="text/css">
    td{
        text-align: center;
    }
</style>
{% endblock %}

{% block title %}Upload Student Groups List{% endblock %}

{% block body %}
    <h3>Upload Student Groups List</h3>
    <form action="{{ path('prooms_student_groups_upload') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input class="btn btn-mini" value="Submit" type="submit" />
        <a href="{{ path('prooms_student_groups_list') }}">
            <button class="btn btn-mini" type='button'>cancel</button></a>
    </form>
{% endblock %}