{% extends '::base.html.twig' %}

{% block title %}Edit Personal Information{% endblock %}

{% block body %}
    <h3>Edit Personal Information</h3>
    <form action="{{ path('prooms_security_edit') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input value="Submit" type="submit" />
        <a href="{{ path('prooms_security_view') }}">
            <button class="btn btn-primary" type='button'>cancel</button></a>
    </form>
{% endblock %}